<div class="container" ng-if="!$ctrl.state.includes('home.movieList.detail')">
  <h3>Selected Movie List: {{$ctrl.movieList.name}}</h3>

  <div class="row">
    <ul ng-repeat="movie in $ctrl.moviesInMovieList">
      <li ng-if="$ctrl.moviesInMovieList.length > 0">
        <a ui-sref="home.movie({imdbId: movie.imdbId, listName: $ctrl.state.params.listName})" style="width: 100%;">
          {{movie.name}} (rating: {{movie.rating}}/5)
        </a>
      </li>
    </ul>
  </div>

  <h4>Search Movies by Title</h4>
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div class="input-group">
        <input type="text"
               class="form-control"
               placeholder="Movie title here..."
               ng-model="$ctrl.movieTitleSearch">
        <span class="input-group-btn">
          <button class="btn btn-primary"
                  type="button"
                  ng-click="$ctrl.search($ctrl.movieTitleSearch)">Search</button>
        </span>
      </div>
    </div>
  </div>
  <div class="row">
    <ul ng-repeat="movie in $ctrl.movieTitleSearchResults">
      <li>
        <div class="row">
          <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <div class="input-group">
              <span class="input-group-btn">
                  <button class="btn btn-default" ng-click="$ctrl.addToMovieList(movie)">Add</button>
               </span>
              <label class="form-control" style="background: beige;">{{movie.name}}</label>
            </div>
          </div>
      </li>
    </ul>
  </div>
</div>
<hr>
